@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #222222;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #fde428;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #222222;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}


body {
  font-family: 'Poppins', sans-serif;
}

.text-light {
    color: #f8f9fa;
}

.text-center{
    text-align: center;
}

.footer-links p a,
.footer-links p {
    color: #bdbdbd;
}

.d-flex {
    display: flex;
    align-items: center;
}

.border-top-green {
    border-top: 3px solid #f14f1d;
}

.bg-blue {
    background-color: #222222;
}

/* Scroll animation styles */
.slide-in-left,
.slide-in-right {
  opacity: 0;
  transform: translateX(-50px); // default left
  transition: all 0.8s ease-out;
}

.slide-in-right {
  transform: translateX(50px);
}

.animate {
  opacity: 1;
  transform: translateX(0);
}